<div class="row">
    <div class="col-lg-12">

        <div ui-view="new"></div>

        <p>
            <b translate="EMPLOYEE.VACATION_ENTITLEMENT"></b>: {{employee.vacationEntitlement}}
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="VACATION_REQUEST.START_DATE"></th>
                    <th translate="VACATION_REQUEST.END_DATE"></th>
                    <th translate="VACATION_REQUEST.NUMBER_OF_DAYS"></th>
                    <th translate="VACATION_REQUEST.STATUS"></th>
                    <th translate="VACATION_REQUEST.APPROVER"></th>
                    <th translate="VACATION_REQUEST.APPROVAL_DATE"></th>
                    <th translate="ACTIONS.ACTIONS"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="vacationRequest in vacationRequests">
                    <td>{{vacationRequest.startDate | date:'dd.MM.yyyy' }}</td>
                    <td>{{vacationRequest.endDate | date:'dd.MM.yyyy' }}</td>
                    <td>{{vacationRequest.numberOfDays}}</td>
                    <td translate="{{'VACATION_REQUEST.' + vacationRequest.status}}"></td>
                    <td>{{vacationRequest.approver.firstName + ' ' + vacationRequest.approver.lastName}}</td>
                    <td>{{ vacationRequest.approvalDate | date:'dd.MM.yyyy HH:mm:ss' }}</td>
                    <td>
                        <a href ng-show="vacationRequest.status === 'PENDING'" ng-click="cancelVacationRequest(vacationRequest)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>