<div ng-if="!report">
<h2><span translate="PAGES.SUPERVISOR.TRAVEL_EXPENSE_REPORT.NOT_FOUND" translate-values="{id: reportId}"></span></h2>
<a ui-sref="app.trackr.supervisor.expenses" translate="PAGES.SUPERVISOR.TRAVEL_EXPENSE_REPORT.BACK_TO_LIST">Back to list</a>
</div>

<div ng-if="report">
<h2><span translate="TRAVEL_EXPENSE_REPORT.TRAVEL_EXPENSE_REPORT"></span> #{{report.id}}</h2>
<h3>{{report.employee.firstName}} {{report.employee.lastName}}</h3>
<span class="pull-right"><a href ui-sref="app.trackr.supervisor.expenses" translate="ACTIONS.BACK"></a></span>
<div class="row">
    <div class="col-md-3 form-group">
        <input type="text" class="form-control" autocomplete="off"
               ng-model="report.debitor"
               typeahead-on-select="selectCompany(report.debitor)"
               typeahead="company as company.name for company in getCompanies($viewValue)"
               typeahead-editable="false"
               typahead-min-length="1"
               placeholder="{{ 'TRAVEL_EXPENSE_REPORT.DEBITOR' | translate }}"/>
    </div>
    <div class="col-md-3 form-group">
        <input type="text" class="form-control" autocomplete="off"
               ng-model="report.project"
               typeahead-on-select="selectProject(report.project)"
               typeahead="project as project.name for project in projects | filter:{name:$viewValue}"
               typeahead-editable="false"
               typahead-min-length="1"
               placeholder="{{ 'TRAVEL_EXPENSE_REPORT.PROJECT' | translate }} ({{ 'FIELDS.OPTIONAL' | translate }})"/>
    </div>
</div>
<table class="table table-striped">
    <tr>
        <th translate="TRAVEL_EXPENSE.TYPE"></th>
        <th translate="TRAVEL_EXPENSE.FROM_DATE"></th>
        <th translate="TRAVEL_EXPENSE.TO_DATE"></th>
        <th translate="TRAVEL_EXPENSE.VAT"></th>
        <th translate="TRAVEL_EXPENSE.COST"></th>
        <th translate="TRAVEL_EXPENSE.COMMENT"></th>
        <th translate="TRAVEL_EXPENSE.SUBMITTED"></th>
    </tr>
    <tr ng-repeat="expense in report.expenses">
        <td translate="{{expense.type}}"></td>
        <td>{{ expense.fromDate | date:'dd.MM.yyyy'}}</td>
        <td>{{ expense.toDate | date:'dd.MM.yyyy'}}</td>
        <td>{{ expense.vat }} %</td>
        <td>{{ expense.cost | currency:'€' }}</td>
        <td>{{expense.comment}}</td>
        <td>{{ expense.submissionDate | date:'dd.MM.yyyy HH:mm:ss' }}</td>
    </tr>
    <tr>
        <td colspan="4"></td>
        <td><span translate="TRAVEL_EXPENSE_REPORT.TOTAL"></span>: <b>{{totalCost | currency:'€'}}</b></td>
        <td></td>
    </tr>
</table>
<div ng-show="report.status === 'SUBMITTED' && report.employee.id !== principal.id ">
    <button type="button" class="btn btn-primary" ng-click="accept(report)" translate="ACTIONS.APPROVE"></button>
    <button type="button" class="btn btn-danger" ng-click="reject(report)" translate="ACTIONS.REJECT"></button>
</div>

<div class="space-md"></div>
<comment-section comments="report.comments" preprocessor="addReport" url="travelExpenseReportComments"></comment-section>
</div>