<h2><span translate="TRAVEL_EXPENSE_REPORT.TRAVEL_EXPENSE_REPORT"></span> #{{report.id}}</h2>
<span class="pull-right"><a href ui-sref="trackr.supervisor.expenses" translate="ACTIONS.BACK"></a></span>
<p><span translate="TRAVEL_EXPENSE_REPORT.TOTAL"></span>: {{totalCost}} €</p>
<table class="table table-striped">
    <tr>
        <th translate="TRAVEL_EXPENSE.TYPE"></th>
        <th translate="TRAVEL_EXPENSE.FROM_DATE"></th>
        <th translate="TRAVEL_EXPENSE.TO_DATE"></th>
        <th translate="TRAVEL_EXPENSE.VAT"></th>
        <th translate="TRAVEL_EXPENSE.COST"></th>
        <th translate="TRAVEL_EXPENSE.SUBMITTED"></th>
    </tr>
    <tr ng-repeat="expense in report.expenses">
        <td translate="{{expense.type}}"></td>
        <td>{{ expense.fromDate | date:'dd.MM.yyyy'}}</td>
        <td>{{ expense.toDate | date:'dd.MM.yyyy'}}</td>
        <td>{{ expense.vat }} %</td>
        <td>{{ expense.cost | currency:'€' }}</td>
        <td>{{ expense.submissionDate | date:'dd.MM.yyyy HH:mm:ss' }}</td>
    </tr>
</table>
<div ng-show="report.status === 'SUBMITTED'">
    <button type="button" class="btn btn-primary" ng-click="accept(report)" translate="ACTIONS.APPROVE"></button>
    <button type="button" class="btn btn-danger" ng-click="reject(report)" translate="ACTIONS.REJECT"></button>
</div>