<form class="form-inline" ng-submit="jumpToReport(jumpReportId)">
    <div class="form-group">
        <div class="input-group">
            <input id="jumpToReportId" class="form-control" type="number"
                   ng-model="jumpReportId" placeholder="{{ 'PAGES.SUPERVISOR.TRAVEL_EXPENSE_REPORTS.JUMP_TO_REPORT' | translate }}"/>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" translate="ACTIONS.GO"></button>
</form>
<br />
<tabset>
    <tab ng-repeat="state in states">
        <tab-heading>
            <span translate="{{'TRAVEL_EXPENSE_REPORT.' + state}}"></span> <span class="badge">{{reports[state].page.totalElements}}</span>
        </tab-heading>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th translate="TRAVEL_EXPENSE_REPORT.ID"></th>
                <th translate="TRAVEL_EXPENSE_REPORT.EMPLOYEE"></th>
                <th translate="TRAVEL_EXPENSE_REPORT.TOTAL"></th>
                <th translate="TRAVEL_EXPENSE_REPORT.DEBITOR"></th>
                <th translate="TRAVEL_EXPENSE_REPORT.PROJECT"></th>
                <th translate="TRAVEL_EXPENSE_REPORT.SUBMISSION_DATE"></th>
                <th ng-show="state === 'APPROVED'" translate="TRAVEL_EXPENSE_REPORT.APPROVER"></th>
                <th ng-show="state === 'APPROVED'" translate="TRAVEL_EXPENSE_REPORT.APPROVAL_DATE"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="report in reports[state]">
                <td><a ui-sref="app.trackr.supervisor.expenses.edit({id: report.id})">#{{report.id}}</a></td>
                <td>{{ report.employee.firstName + ' ' + report.employee.lastName }}</td>
                <td>{{ report.total | currency:'€' }}</td>
                <td>{{ report.debitor.name }}</td>
                <td>{{ report.project.name }}</td>
                <td>{{ report.submissionDate | date:'dd.MM.yyyy HH:mm:ss' }}</td>
                <td ng-show="state === 'APPROVED'">{{ report.approver.firstName + ' ' + report.approver.lastName }}</td>
                <td ng-show="state === 'APPROVED'">{{ report.approvalDate | date:'dd.MM.yyyy HH:mm:ss' }}</td>
            </tr>
            </tbody>
        </table>
        <pagination class="pagination-sm" total-items="reports[state].page.totalElements" ng-model="reports[state].page.number" items-per-page="reports[state].page.size"
                    ng-change="setPage(state)" max-size="5"></pagination>
    </tab>
</tabset>