<div class="modal-header">
    <h3>{{ 'EMPLOYEE.CREATE_NEW' | translate }}</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" action="">
        <bs-text property-name="employee.firstName" translate-code="EMPLOYEE.FIRST_NAME" path="employee.firstName"></bs-text>
        <bs-text property-name="employee.lastName" translate-code="EMPLOYEE.LAST_NAME" path="employee.lastName"></bs-text>
        <bs-text property-name="employee.phoneNumber" translate-code="EMPLOYEE.PHONE_NUMBER" path="employee.phoneNumber"></bs-text>
        <bs-text property-name="employee.title" translate-code="EMPLOYEE.TITLE" path="employee.title"></bs-text>
        <bs-text property-name="employee.salary" translate-code="EMPLOYEE.SALARY" path="employee.salary"></bs-text>
        <bs-text property-name="employee.hourlyCostRate" translate-code="EMPLOYEE.HOURLY_COST_RATE" path="employee.hourlyCostRate"></bs-text>
        <bs-text property-name="credential.email" translate-code="CREDENTIAL.EMAIL" path="credential.email"></bs-text>

        <div class="form-group" ng-class="{'has-error': errors['employee.federalState']}">
            <label class="form-label col-sm-4" for="federalState">{{ 'EMPLOYEE.FEDERAL_STATE' | translate }}</label>
            <div class="col-sm-6">
                <select ng-model="employee.federalState" id="federalState" ng-options="s.name as s.state for s in states"></select>
                <span ng-show="errors['employee.federalState']" class="help-block">{{errors['employee.federalState'].defaultMessage}}</span>
            </div>
        </div>

        <div class="form-group">
            <label class="form-label col-sm-4" for="joinDate">{{ 'EMPLOYEE.JOIN_DATE' | translate }}</label>
            <div class="col-sm-6">
                <div class="well well-sm" id="joinDate" ng-model="employee.joinDate">
                    <datepicker></datepicker>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="credential.enabled"> {{ 'CREDENTIAL.ENABLED' | translate }}
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">{{ 'ACTIONS.CANCEL' | translate }}</button>
    <button type="submit" class="btn btn-primary" ng-click="saveEmployee()">{{ 'ACTIONS.SAVE' | translate }}</button>
</div>