<table class="table">
    <tr>
        <th>Name</th>
        <th>Authorities</th>
    </tr>
    <tr ng-repeat="credential in credentials">
        <td>{{credential.email}}</td>
        <td>
            <span ng-repeat="authority in authorities">
                <label>{{authority.screenName}}</label>
                <bs-checkbox checked="hasAuthority(credential, authority)" change="updateCredentialAuthorities(credential, authority)" role="ROLE_ADMIN"></bs-checkbox>
            </span>
        </td>
    </tr>
</table>