<h1>{{ 'PAGES.SUPERVISOR.VACATION.TITLE' | translate }}</h1>
<table class="table-bordered table">
    <tr>
        <th>{{ 'VACATION_REQUEST.INTERVAL' | translate }}</th>
        <th>{{ 'VACATION_REQUEST.NUMBER_OF_DAYS' | translate }}</th>
        <th>{{ 'VACATION_REQUEST.SUBMITTED' | translate }}</th>
        <th>{{ 'VACATION_REQUEST.EMPLOYEE' | translate }}</th>
        <th colspan="2"></th>
    </tr>
    <tr ng-repeat="request in pendingRequests">
        <td>{{request.startDate | date:'dd.MM.yyyy' }} - {{request.endDate | date:'dd.MM.yyyy'}}</td>
        <td>{{request.numberOfDays}}</td>
        <td>{{request.submissionTime | date:'dd.MM.yyyy HH:mm:ss'}}</td>
        <td>{{request.employee.firstName}} {{request.employee.lastName}}</td>
        <td><button type="button" ng-click="approve(request)" class="btn btn-sm btn-primary">{{ 'ACTIONS.APPROVE' | translate }}</button></td>
        <td><button type="button" ng-click="reject(request)" class="btn btn-sm btn-warning">{{ 'ACTIONS.REJECT' | translate }}</button></td>
    </tr>
</table>

<tabset>
    <tab heading="{{ 'VACATION_REQUEST.APPROVED' | translate }}">
        <table class="table-bordered table table-condensed">
            <tr>
                <th>{{ 'VACATION_REQUEST.INTERVAL' | translate }}</th>
                <th>{{ 'VACATION_REQUEST.NUMBER_OF_DAYS' | translate }}</th>
                <th>{{ 'VACATION_REQUEST.SUBMITTED' | translate }}</th>
                <th>{{ 'VACATION_REQUEST.APPROVAL_DATE' | translate }}</th>
                <th>{{ 'VACATION_REQUEST.EMPLOYEE' | translate }}</th>
                <th>{{ 'VACATION_REQUEST.APPROVER' | translate }}</th>
            </tr>
            <tr ng-repeat="request in approvedRequests">
                <td>{{request.startDate | date:'dd.MM.yyyy' }} - {{request.endDate | date:'dd.MM.yyyy'}}</td>
                <td>{{request.numberOfDays}}</td>
                <td>{{request.submissionTime | date:'dd.MM.yyyy HH:mm:ss'}}</td>
                <td>{{request.approvalDate | date:'dd.MM.yyyy'}}</td>
                <td>{{request.employee.firstName}} {{request.employee.lastName}}</td>
                <td>{{request.approver.firstName}} {{request.approver.lastName}}</td>
            </tr>
        </table>
    </tab>
    <tab heading="{{ 'VACATION_REQUEST.REJECTED' | translate }}">
        <table class="table-bordered table table-condensed">
            <tr>
                <th>{{ 'VACATION_REQUEST.INTERVAL' | translate }}</th>
                <th>{{ 'VACATION_REQUEST.NUMBER_OF_DAYS' | translate }}</th>
                <th>{{ 'VACATION_REQUEST.SUBMITTED' | translate }}</th>
                <th>{{ 'VACATION_REQUEST.APPROVAL_DATE' | translate }}</th>
                <th>{{ 'VACATION_REQUEST.EMPLOYEE' | translate }}</th>
                <th>{{ 'VACATION_REQUEST.APPROVER' | translate }}</th>
            </tr>
            <tr ng-repeat="request in rejectedRequests">
                <td>{{request.startDate | date:'dd.MM.yyyy' }} - {{request.endDate | date:'dd.MM.yyyy'}}</td>
                <td>{{request.numberOfDays}}</td>
                <td>{{request.submissionTime | date:'dd.MM.yyyy HH:mm:ss'}}</td>
                <td>{{request.approvalDate | date:'dd.MM.yyyy'}}</td>
                <td>{{request.employee.firstName}} {{request.employee.lastName}}</td>
                <td>{{request.approver.firstName}} {{request.approver.lastName}}</td>
            </tr>
        </table>
    </tab>
</tabset>