<div id="wrapper">
    <div>
        <section id="header" class="top-header">
            <header class="clearfix">
                <a href="" data-toggle-min-nav class="toggle-min"><i class="fa fa-bars"></i></a>
                <!-- Header menu !-->
                <div ui-view="top-menu"/>
            </header>
        </section>

        <aside id="nav-container">
            <div id="nav-wrapper">
                <ul id="nav"
                    data-collapse-nav
                    data-highlight-active>
                    <li><a ui-sref="app.trackr" href> <i class="fa fa-database"><span class="icon-bg bg-primary"></span></i><span>trackr</span> </a></li>
                    <li><a ui-sref="app.invoices" href> <i class="fa fa-file-text-o"><span class="icon-bg bg-success"></span></i><span>Invoices</span> </a></li>
                    <li><a ui-sref="app.reportr" href> <i class="fa fa-bar-chart-o"><span class="icon-bg bg-warning"></span></i><span>reportr</span> </a></li>
                </ul>
            </div>
        </aside>

        <div class="view-container">
            <section data-ng-view="" id="content" class="animate-fade-up">
                <!-- Page Content -->
                <div id="page-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <div ui-view="breadcrumbs"/>
                        </div>
                    </div>
                    <div class="row">
                        <!-- main content -->
                        <div class="col-lg-12">
                            <div ui-view="center"/>
                        </div>
                    </div>
                </div>
                <!-- Page Content END -->
            </section>
        </div>
    </div>
</div>
<div id="notification-container">
    <ul td-notifications>
    </ul>
</div>