<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="clickable navbar-brand" data-toggle="dropdown">modules</a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="app.trackr"><span class="icon-bg bg-primary"></span><span>trackr</span></a></li>
                        <li><a has-authority="ROLE_ADMIN" ui-sref="app.invoices"><span class="icon-bg bg-success"></span><span>Invoices</span></a></li>
                        <li><a has-authority="ROLE_ADMIN" ui-sref="app.reportr"><span class="icon-bg bg-warning"></span><span>reportr</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div ui-view="top-menu"/>
    </div>
</nav>

<div class="container">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div ui-view="breadcrumbs"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div ui-view="center"/>
            </div>
        </div>
    </div>
</div>
<div id="notification-container">
    <ul td-notifications>
    </ul>
</div>