<div id="wrapper">
    <div>
        <div class="view-container">
            <section data-ng-view="" id="content" class="animate-fade-up">
                <div id="page-wrapper">
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-4">
                            <p>
                                No authentication found. Please click the following link to authenticate.
                            </p>
                            <a class="btn btn-primary" target="_self"
                               href="/portal/oauth/authorize?client_id=trackr-page&response_type=token&redirect_uri={{returnToUri}}">Authenticate
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>