<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a href ui-sref="app.reportr.revenue" translate="PAGES.REPORTR.REVENUE.TITLE"></a></li>
        <li ui-sref-active="active"><a href ui-sref="app.reportr.vacation" translate="PAGES.REPORTR.VACATION.TITLE"></a></li>
        <li ui-sref-active="active"><a href ui-sref="app.reportr.project-hours" translate="PAGES.REPORTR.PROJECT_HOURS.TITLE"></a></li>
        <li ui-sref-active="active"><a href ui-sref="app.reportr.employee-hours" translate="PAGES.REPORTR.EMPLOYEE_HOURS.TITLE"></a></li>
        <li ui-sref-active="active"><a href ui-sref="app.reportr.travel-expense" translate="PAGES.REPORTR.TRAVEL_EXPENSE.TITLE"></a></li>
        <li ui-sref-active="active"><a href ui-sref="app.reportr.sick-days" translate="PAGES.REPORTR.SICK_DAYS.TITLE"></a></li>
        <li ui-sref-active="active"><a href ui-sref="app.reportr.expenses-debitor" translate="PAGES.REPORTR.EXPENSES_DEBITOR.TITLE"></a></li>
    </ul>

    <ul class="nav navbar-nav pull-right">
        <li><a href="" ng-click="logout()">Logout</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="" translate="LANGUAGE"></a>
            <ul class="dropdown-menu">
                <li><a href ng-click="changeLanguage('en')">English</a></li>
                <li><a href ng-click="changeLanguage('de')">Deutsch</a></li>
            </ul>
        </li>
    </ul>
</div>
