<datepicker ng-model="month" datepicker-mode="datepickerMode" min-mode="month" ng-change="monthChange()"/>

<table class="table table-striped">
    <thead>
    <tr>
        <th translate="WORKTIME.DATE"></th>
        <th translate="WORKTIME.START"></th>
        <th translate="WORKTIME.END"></th>
        <th translate="WORKTIME.TOTAL_HOURS"></th>
        <th translate="WORKTIME.PROJECT"></th>
        <th translate="WORKTIME.COMMENT"></th>
        <th translate="ACTIONS.ACTIONS"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="workTime in workTimes">
        <td>{{ workTime.date | date:'dd.MM.yyyy' }}</td>
        <td>{{ workTime.startTime }}</td>
        <td>{{ workTime.endTime }}</td>
        <td>{{ workTime.totalHours }}</td>
        <td>{{ workTime.project.name }}</td>
        <td>{{ workTime.comment }}</td>
        <td>
            <button ng-click="remove(workTime)" type="button" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </td>
    </tr>
    </tbody>
</table>

<h2 translate="PAGES.EMPLOYEE.TIMESHEET_OVERVIEW.GROUPED_BY_PROJECT"></h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th translate="PROJECT.PROJECT"></th>
        <th translate="PROJECT.COMPANY"></th>
        <th translate="WORKTIME.TOTAL_HOURS"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(id, workTime) in groupedWorkTimes">
        <td>{{workTime.projectName}}</td>
        <td>{{workTime.companyName}}</td>
        <td>{{workTime.totalHours}}</td>
    </tr>
    </tbody>
</table>