<datepicker ng-model="month" datepicker-mode="datepickerMode" min-mode="month" ng-change="monthChange()"/>

<table class="table table-striped">
    <thead>
    <tr>
        <th>{{ 'WORKTIME.DATE' | translate }}</th>
        <th>{{ 'WORKTIME.START' | translate }}</th>
        <th>{{ 'WORKTIME.END' | translate }}</th>
        <th>{{ 'WORKTIME.PROJECT' | translate }}</th>
        <th>{{ 'WORKTIME.COMMENT' | translate }}</th>
        <th>{{ 'ACTIONS.ACTIONS' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="workTime in workTimes">
        <td>{{ workTime.date | date:'dd.MM.yyyy' }}</td>
        <td>{{ workTime.startTime }}</td>
        <td>{{ workTime.endTime }}</td>
        <td>{{ workTime.project.name }}</td>
        <td>{{ workTime.comment }}</td>
        <td>
            <button ng-click="remove(workTime)" type="button" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </td>
    </tr>
    </tbody>
</table>