<datepicker ng-model="month" datepicker-mode="datepickerMode" min-mode="month"/>

<table class="table">
    <thead>
    <tr>
        <th>{{ 'WORKTIME.DATE' | translate }}</th>
        <th>{{ 'WORKTIME.START' | translate }}</th>
        <th>{{ 'WORKTIME.END' | translate }}</th>
        <th>{{ 'WORKTIME.PROJECT' | translate }}</th>
        <th>{{ 'WORKTIME.COMMENT' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="workTime in workTimes">
        <td>{{ workTime.date | date:'dd.MM.yyyy' }}</td>
        <td>{{ workTime.startTime }}</td>
        <td>{{ workTime.endTime }}</td>
        <td>{{ workTime.project.name }}</td>
        <td>{{ workTime.comment }}</td>
    </tr>
    </tbody>
</table>