<h1><bs-edit entity="company" property-name="name"></bs-edit></h1>
<dl>
    <dt>{{ 'COMPANY.COMPANY_ID' | translate }}
        <dd><bs-edit entity="company" property-name="companyId" callback="companyIdChanged"></bs-edit></dd>
    </dt>
    <h2>{{ 'ADDRESS.ADDRESS' | translate}}</h2>
    <dt>{{ 'ADDRESS.STREET' | translate }}
        <dd><bs-edit entity="address" property-name="street"></bs-edit></dd>
    </dt>
    <dt>{{ 'ADDRESS.HOUSE_NUMBER' | translate }}
        <dd><bs-edit entity="address" property-name="houseNumber"></bs-edit></dd>
    </dt>
    <dt>{{ 'ADDRESS.CITY' | translate }}
        <dd><bs-edit entity="address" property-name="city"></bs-edit></dd>
    </dt>
    <dt>{{ 'ADDRESS.ZIPCODE' | translate }}
        <dd><bs-edit entity="address" property-name="zipCode"></bs-edit></dd>
    </dt>
    <dt>{{ 'ADDRESS.COUNTRY' | translate }}
        <dd><bs-edit entity="address" property-name="country"></bs-edit></dd>
    </dt>
</dl>

<h3>{{ 'CONTACTPERSON.CONTACTPERSONS' | translate }}</h3>
<table>
    <tr ng-repeat="contactPerson in contactPersons">
        <td><bs-edit entity="contactPerson" property-name="salutation"></bs-edit></td>
        <td><bs-edit entity="contactPerson" property-name="firstName"></bs-edit></td>
        <td><bs-edit entity="contactPerson" property-name="lastName"></bs-edit></td>
        <td><bs-edit entity="contactPerson" property-name="email"></bs-edit><!--<a href="mailto:{{contactPerson.email}}">{{contactPerson.email}}</a>--></td>
        <td><bs-edit entity="contactPerson" property-name="phone"></bs-edit></td>
        <td><a href ng-click="removeContactPerson(contactPerson)"><i class="glyphicon glyphicon-remove"></i></a></td>
    </tr>
</table>
<div has-authority="ROLE_SUPERVISOR">
    <button class="btn btn-sm btn-default" ng-click="doShowContactPersonForm(true)">
        <i class="glyphicon glyphicon-plus"/>
    </button>
    <form ng-show="showContactPersonForm" class="form-inline" role="form" ng-submit="saveNewContactPerson()">
        <bs-text path="newContactPerson.salutation" translate-code="CONTACTPERSON.SALUTATION" property-name="salutation" inline="true" errors="contactPersonErrors"></bs-text>
        <bs-text path="newContactPerson.firstName" translate-code="CONTACTPERSON.FIRST_NAME" property-name="firstName" inline="true" errors="contactPersonErrors"></bs-text>
        <bs-text path="newContactPerson.lastName" translate-code="CONTACTPERSON.LAST_NAME" property-name="lastName" inline="true" errors="contactPersonErrors"></bs-text>
        <bs-text path="newContactPerson.email" translate-code="CONTACTPERSON.EMAIL" property-name="email" inline="true" errors="contactPersonErrors"></bs-text>
        <bs-text path="newContactPerson.phone" translate-code="CONTACTPERSON.PHONE" property-name="phone" inline="true" errors="contactPersonErrors"></bs-text>
        <button type="submit" class="btn btn-success">{{ 'ACTIONS.SAVE' | translate }}</button>
    </form>
</div>