<div class="modal-header">
    <h3>{{ 'COMPANY.CREATE_NEW' | translate }}</h3>
</div>
<div class="modal-body">
<form class="form-horizontal" action="">
    <bs-text property-name="companyId" translate-code="COMPANY.COMPANY_ID" path="company.companyId"></bs-text>
    <bs-text property-name="name" translate-code="COMPANY.NAME" path="company.name"></bs-text>
    <bs-text property-name="street" translate-code="ADDRESS.STREET" path="address.street" errors="addressErrors"></bs-text>
    <bs-text property-name="houseNumber" translate-code="ADDRESS.HOUSE_NUMBER" path="address.houseNumber" errors="addressErrors"></bs-text>
    <bs-text property-name="zipCode" translate-code="ADDRESS.ZIPCODE" path="address.zipCode" errors="addressErrors"></bs-text>
    <bs-text property-name="city" translate-code="ADDRESS.CITY" path="address.city" errors="addressErrors"></bs-text>
    <bs-text property-name="country" translate-code="ADDRESS.COUNTRY" path="address.country" errors="addressErrors"></bs-text>
</form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">{{ 'ACTIONS.CANCEL' | translate }}</button>
    <button type="submit" class="btn btn-primary" ng-click="saveCompany()">{{ 'ACTIONS.SAVE' | translate }}</button>
</div>