<div class="row">
    <div class="col-sm-4">
        <h3>Rollen</h3>
        <p>Verwalten Sie die Rollen der Nutzer von trackr.</p>
        <a href="#/trackr/administration/roles" class="btn btn-lg btn-default">Rollen</a>
    </div>
    <div class="col-sm-4">
        <h3>Firmen</h3>
        <p>Hier kann man Firmen verwalten</p>
        <a href="#/trackr/administration/companies" class="btn btn-lg btn-default">Firmen</a>
    </div>
    <div class="col-sm-4">
        <h3>Sonstiges</h3>
        <p>Hier kommt sicher auch noch was hin</p>
    </div>
</div>