<div class="row">
    <div class="col-sm-4">
        <h3>Rollen</h3>
        <p>{{ 'PAGES.ADMINISTRATION.TEXT_ROLES' | translate }}</p>
        <a ui-sref="trackr.administration.roles" class="btn btn-lg btn-default">Rollen</a>
    </div>
    <div class="col-sm-4">
        <h3>{{ 'COMPANY.COMPANIES' | translate }}</h3>
        <p>{{ 'PAGES.ADMINISTRATION.TEXT_COMPANIES' | translate }}</p>
        <a ui-sref="trackr.administration.companies" class="btn btn-lg btn-default">{{ 'COMPANY.COMPANIES' | translate }}</a>
    </div>
</div>