<div class="row">
    <div class="col-lg-12">
        <h1 translate="PAGES.SUPERVISOR.BILL_CREATE.TITLE"></h1>
    </div>

    <div class="form-group col-lg-4">
        <input type="text"
               class="form-control"
               ng-model="company"
               typeahead-on-select="loadProjects(company)"
               typeahead="company as company.name for company in getCompanies($viewValue)"
               typeahead-editable="false"
               typahead-min-length="1"
               placeholder="{{ 'PROJECT.COMPANY' |translate }}"/>
    </div>
    <div class="form-group col-lg-4">
        <input type="text"
               class="form-control"
               ng-model="project"
               typeahead-on-select="loadProjectData()"
               typeahead="project as project.name for project in projects | filter:{name:$viewValue}"
               typeahead-editable="false"
               typahead-min-length="1"
               placeholder="{{ 'PROJECT.PROJECT' |translate }}"/>
    </div>

    <div class="form-group col-lg-2">
        <inline-datepicker model="start"></inline-datepicker>
    </div>

    <div class="form-group col-lg-2">
        <inline-datepicker model="end"></inline-datepicker>
    </div>

    <div ng-if="project" class="col-lg-12">
        <h2>{{project.name}} ({{project.identifier}})</h2>
        <table class="table table-bordered">
            <tr>
                <td translate="PROJECT.DEBITOR"></td>
                <td><span ng-show="project.debitor">{{project.debitor.name}} ({{project.debitor.companyId}})</span></td>
            </tr>
            <tr>
                <td translate="PROJECT.HOURLY_RATE"></td>
                <td>{{project.hourlyRate}} €</td>
            </tr>
        </table>
    </div>

    <tabset>
        <tab ng-repeat="(employee, minutes) in employeeMapping" heading="{{employee}}">
            <table class="table table-condensed table-bordered">
                <tr><td translate="PAGES.SUPERVISOR.BILL_CREATE.HOURS"></td><td>{{minutes / 60}} h</td></tr>
                <tr><td translate="PAGES.SUPERVISOR.BILL_CREATE.MAN_DAYS"></td><td>{{(minutes / 60) / 8}} d</td></tr>
                <tr><td translate="PAGES.SUPERVISOR.BILL_CREATE.NET_PRICE"></td><td>{{(minutes / 60) * project.hourlyRate}} €</td></tr>
                <tr><td translate="PAGES.SUPERVISOR.BILL_CREATE.GROSS_PRICE"></td><td>{{(minutes / 60) * project.hourlyRate * 1.19}} €</td></tr>
            </table>
        </tab>
    </tabset>

</div>