<section class="panel panel-default">

    <div class="panel-body">

        <span ng-repeat="globalError in errors.globalMessages" class="alert alert-danger">{{globalError.message}}</span>

        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-7 col-sm-offset-3">
                    <h1>
                        <bs-edit entity="project" property-name="name" role="ROLE_ADMIN" class="like-h1"></bs-edit>
                    </h1>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'PROJECT.IDENTIFIER' | translate }}</label>
                <div class="col-sm-7">
                    <bs-edit entity="project" property-name="identifier" error-callback="projectIdError" callback="projectIdChanged" role="ROLE_ADMIN"></bs-edit>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'PROJECT.VOLUME' | translate }}</label>
                <div class="col-sm-7">
                    <bs-edit entity="project" property-name="volume" role="ROLE_ADMIN"></bs-edit>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'PROJECT.HOURLY_RATE' | translate }}</label>
                <div class="col-sm-7">
                    <bs-edit entity="project" property-name="hourlyRate" role="ROLE_ADMIN"></bs-edit>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'PROJECT.DAILY_RATE' | translate }}</label>
                <div class="col-sm-7">
                    <bs-edit entity="project" property-name="dailyRate" role="ROLE_ADMIN"></bs-edit>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'PROJECT.FIXED_PRICE' | translate }}</label>
                <div class="col-sm-3">
                    <bs-edit entity="project" property-name="fixedPrice" role="ROLE_ADMIN"></bs-edit>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="company">{{ 'PROJECT.COMPANY' | translate }}</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="company"
                           ng-model="project.company"
                           typeahead-on-select="changeCompany(project, $item)"
                           typeahead="company as company.name for company in getCompanies($viewValue)"
                           typeahead-editable="false"
                           typeahead-min-length="1" />
                </div>
                <span ng-show="companySaved" class="glyphicon glyphicon-ok"></span>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="debitor">{{ 'PROJECT.DEBITOR' | translate }}</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="debitor"
                           ng-model="project.debitor"
                           typeahead-on-select="changeDebitor(project, $item)"
                           typeahead="company as company.name for company in getCompanies($viewValue)"
                           typeahead-editable="false"
                           typeahead-min-length="1" />
                </div>
                <span ng-show="debitorSaved" class="glyphicon glyphicon-ok"></span>
            </div>
        </form>

    </div>

</section>
