<div class="row">

    <!-- Project List BEGIN -->
    <div class="col-lg-3">

        <div class="panel panel-default">
            <div class="panel-heading">
                <strong><span class="glyphicon glyphicon-th"></span> <span translate="PROJECT.PROJECTS"></span></strong>

                <button type="button" has-authority="ROLE_ADMIN" class="btn btn-default btn-xs pull-right" ng-click="addNew()">
                    <span class="glyphicon glyphicon-plus"></span> <span translate="ACTIONS.NEW"></span>
                </button>
            </div>

            <table class="table table-bordered table-hover">
                <tbody>
                <tr ng-repeat="project in projects" ui-sref-active="active" ui-sref="app.trackr.administration.projects.edit({id: project.identifier})" class="clickable">
                    <td>
                        {{project.name}}
                    </td>
                </tr>
                </tbody>
            </table>

            <footer class="table-footer">
                <div class="row">
                    <div class="col-lg-12 text-right pagination-container">
                        <pagination class="pagination-sm" total-items="projects.page.totalElements" ng-model="projects.page.number" items-per-page="projects.page.size" ng-change="setPage()"></pagination>
                    </div>
                </div>
            </footer>

        </div>

    </div>
    <!-- Project List END -->

    <!-- Project Details BEGIN -->
    <div class="col-lg-9">
        <ui-view name="project"/>
    </div>
    <!-- Project Details END -->
</div>
