<div class="row">
    <div class="col-lg-3">
        <ul class="nav nav-pills nav-stacked">
            <li><h3>{{ 'PROJECT.PROJECTS' | translate }}</h3></li>
            <li ng-repeat="project in projects" ui-sref-active="active">
                <a href ui-sref="trackr.administration.projects.edit({id: project.identifier})">{{project.name}}</a>
            </li>
            <pagination class="pagination-sm" total-items="projects.page.totalElements" page="projects.page.number" items-per-page="projects.page.size" on-select-page="setPage(page)" max-size="5"></pagination>
            <li has-authority="ROLE_ADMIN">
                <button type="button" class="btn btn-default" ng-click="addNew()">
                    <span class="glyphicon glyphicon-plus"></span> {{ 'ACTIONS.NEW' | translate }}
                </button>
            </li>
        </ul>
    </div>
    <div class="col-lg-9">
        <ui-view name="project"/>
    </div>
</div>
