<form class="form-horizontal" action="">
    <bs-text property-name="identifier" translate-code="PROJECT.IDENTIFIER" path="project.identifier"></bs-text>
    <bs-text property-name="name" translate-code="PROJECT.NAME" path="project.name"></bs-text>
    <bs-text property-name="volume" translate-code="PROJECT.VOLUME" path="project.volume"></bs-text>
    <bs-text property-name="hourlyRate" translate-code="PROJECT.HOURLY_RATE" path="project.hourlyRate"></bs-text>
    <bs-text property-name="dailyRate" translate-code="PROJECT.DAILY_RATE" path="project.dailyRate"></bs-text>
    <bs-text property-name="fixedPrice" translate-code="PROJECT.FIXED_PRICE" path="project.fixedPrice"></bs-text>

    <div class="form-group">
        <label class="form-label col-sm-2" for="company" translate="PROJECT.COMPANY"></label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="company" autocomplete="off"
                   ng-model="project.company"
                   uib-typeahead="company as company.name for company in getCompanies($viewValue)"
                   typeahead-editable="false"
                   typeahead-min-length="1" />
        </div>
    </div>

    <div class="form-group">
        <label class="form-label col-sm-2" for="debitor" translate="PROJECT.DEBITOR"></label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="debitor" autocomplete="off"
                   ng-model="project.debitor"
                   uib-typeahead="company as company.name for company in getCompanies($viewValue)"
                   typeahead-editable="false"
                   typeahead-min-length="1" />
        </div>
    </div>
</form>