#notification-container {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    height: 0;

    z-index: 9999;
}

#notification-container ul {
    width: 450px;
    margin: 0 auto;
    list-style: none outside;
}

#notification-container li {
    color: #555555;

    background-color: #FAFAFA;
    background-repeat: repeat-x;

    margin: 20px 0;
    padding: 0;
    text-align: left;
    text-shadow: rgba(255, 255, 255, 0.75) 0 1px 0;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 15px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 15px rgba(0, 0, 0, 0.2);

    border: 1px solid #d5d5d5;
    border-radius: 5px;
}

#notification-container li > div {
    padding: 10px 15px 12px 15px;
    min-height: 24px;
}

#notification-container li.info {
    background-color: #cae5ff;
    color: #004d7f;
    border-color: #557393;
}

#notification-container li.success {
    background-color: #ceecc3;
    color: #0f9000;
    border-color: #10a000;
}

#notification-container li.error {
    background-color: #ffd0d0;
    color: #a54545;
    border-color: #a54545;
}

#notification-container li.fatal {
    background-color: #3f3f3f;
    color: #fdfdfd;
    border-color: #000000;
    text-shadow: black 0 1px 0;
}

#notification-container li .close {
    font-size: 14px;
    float: right;
    position: relative;
    left: -3px;
    top: 3px;
    visibility: hidden;
}

#notification-container li:hover .close {
    visibility: visible;
}