#notification-container {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    height: 0;

    z-index: 9999;

}

#notification-container ul {
    width: 450px;
    margin: 0 auto;
    list-style: none outside;
}

#notification-container li {
    color: #555555;

    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
    background-image: -moz-linear-gradient(top, #FFFFFF, #F2F2F2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#F2F2F2));
    background-image: -webkit-linear-gradient(top, #FFFFFF, #F2F2F2);
    background-image: -o-linear-gradient(top, #FFFFFF, #F2F2F2);
    background-repeat: repeat-x;

    margin: 20px 0;
    padding: 0;
    text-align: left;
    text-shadow: rgba(255, 255, 255, 0.75) 0 1px 0;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 15px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 15px rgba(0, 0, 0, 0.2);

    border: 1px solid #d5d5d5;
    border-radius: 8px;
}

#notification-container li > div {
    padding: 10px 15px 12px 61px;
    min-height: 24px;
}

#notification-container li.info {
    background-image: linear-gradient(to bottom, #cae5ff, #a0ccff);
    background-image: -moz-linear-gradient(top, #cae5ff, #a0ccff);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cae5ff), to(#a0ccff));
    background-image: -webkit-linear-gradient(top, #cae5ff, #a0ccff);
    background-image: -o-linear-gradient(top, #cae5ff, #a0ccff);
    color: #004d7f;
    border-color: #557393;
}

#notification-container li.success {
    background-image: linear-gradient(to bottom, #ceecc3, #a5dc95);
    background-image: -moz-linear-gradient(top, #ceecc3, #a5dc95);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ceecc3), to(#a5dc95));
    background-image: -webkit-linear-gradient(top, #ceecc3, #a5dc95);
    background-image: -o-linear-gradient(top, #ceecc3, #a5dc95);
    color: #0f9000;
    border-color: #10a000;
}

#notification-container li.error {
    background-image: linear-gradient(to bottom, #ffd0d0, #ffaaaa);
    background-image: -moz-linear-gradient(top, #ffd0d0, #ffaaaa);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffd0d0), to(#ffaaaa));
    background-image: -webkit-linear-gradient(top, #ffd0d0, #ffaaaa);
    background-image: -o-linear-gradient(top, #ffd0d0, #ffaaaa);
    color: #a54545;
    border-color: #a54545;
}

#notification-container li.fatal {
    background-image: linear-gradient(to bottom, #3f3f3f, #2a2a2a);
    background-image: -moz-linear-gradient(top, #3f3f3f, #2a2a2a);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3f3f3f), to(#2a2a2a));
    background-image: -webkit-linear-gradient(top, #3f3f3f, #2a2a2a);
    background-image: -o-linear-gradient(top, #3f3f3f, #2a2a2a);
    color: #fdfdfd;
    border-color: #000000;
    text-shadow: black 0 1px 0;
}

#notification-container li .close {
    float: right;
    position: relative;
    left: 8px;
    top: -5px;
    visibility: hidden;
}

#notification-container li:hover .close {
    visibility: visible;
}