#page-wrapper {
  margin-left: 30px;
  margin-right: 30px;
}
.clickable {
  /* clickable elements should have cursor hand */

  cursor: pointer;
}
.panel .table-bordered {
  /* overrides '.table-dynamic .table-bordered' in 'main.css' */

  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.table-footer {
  /* overrides '.table-dynamic .table-footer' in 'main.css' */

  margin: 0;
  padding: 8px;
}
.table-footer ul.pagination {
  /* no top/bottom margin on pagination elements if they're in a table footer */

  margin-top: 0;
  margin-bottom: 0;
}
h1 {
  margin-top: 0;
  margin-bottom: 0;
}
.form-group .checkbox label {
  font-weight: bold;
}
.control-label {
  text-transform: uppercase;
  color: #aaaaaa;
  font-weight: normal;
}
inline-datepicker .input-group .form-control {
  width: 100px;
}
inline-datepicker .input-group .input-group-btn button {
  height: 34px;
}
.form-group .help-block {
  display: none;
}
.form-group.has-error .help-block {
  display: block;
}
body {
    padding-top: 70px;
}
