<button type="button" class="btn btn-default" ng-click="addNew()">
    <span class="glyphicon glyphicon-plus"></span> {{ 'ACTIONS.NEW' | translate }}
</button>

<tabset>
    <tab ng-repeat="state in ['OVERDUE', 'OUTSTANDING', 'PAID']" heading="{{ 'INVOICE.' + state | translate }}" select="switchTab(state)">
        <table class="table table-bordered">
            <tr>
                <th>{{ 'INVOICE.IDENTIFIER' | translate }}</th>
                <th>{{ 'INVOICE.CREATION_DATE' | translate }}</th>
                <th>{{ 'INVOICE.INVOICE_TOTAL' | translate }}</th>
                <th>{{ 'INVOICE.DEBITOR' | translate }}</th>
                <th>{{ 'INVOICE.DUE_DATE' | translate }}</th>
                <th>{{ 'INVOICE.STATE' | translate }}</th>
                <th>{{ 'ACTIONS.ACTIONS' | translate }}</th>
            </tr>
            <tr ng-repeat="invoice in invoices">
                <td>{{invoice.identifier}}</td>
                <td>{{ invoice.creationDate | date:'dd.MM.yyyy' }}</td>
                <td>{{invoice.invoiceTotal}}</td>
                <td>TODO</td>
                <td>{{ invoice.dueDate | date:'dd.MM.yyyy' }}</td>
                <td>{{ 'INVOICE.' + invoice.invoiceState | translate }}</td>
                <td>
                    <button ng-show="state !== 'PAID'" ng-click="markPaid(invoice)" type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        </table>
        <pagination class="pagination-sm" total-items="invoices.page.totalElements" ng-model="invoices.page.number" items-per-page="invoices.page.size" on-select-page="setPage(page, state)" max-size="5"></pagination>
    </tab>
</tabset>