<h1 translate="INVOICE.INVOICES"></h1>

<h3 translate="ACTIONS.SEARCH"></h3>
<div class="form-group">
    <input type="text" ng-model="searchQuery" ng-change="executeSearch()"/>
</div>

<tabset>
    <tab ng-repeat="state in states">
        <tab-heading>
            <span translate="{{'INVOICE.' + state}}"></span> <span class="badge">{{invoices[state].page.totalElements}}</span>
        </tab-heading>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th translate="INVOICE.IDENTIFIER"></th>
                <th translate="INVOICE.CREATION_DATE"></th>
                <th translate="INVOICE.INVOICE_TOTAL"></th>
                <th translate="INVOICE.DEBITOR"></th>
                <th translate="INVOICE.DUE_DATE"></th>
                <th translate="INVOICE.STATE"></th>
                <th translate="ACTIONS.ACTIONS"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="invoice in invoices[state]">
                <td>{{invoice.identifier}}</td>
                <td>{{ invoice.creationDate | date:'dd.MM.yyyy' }}</td>
                <td>{{invoice.invoiceTotal}}</td>
                <td>{{invoice.debitor.name}}</td>
                <td>{{ invoice.dueDate | date:'dd.MM.yyyy' }}</td>
                <td translate="{{ 'INVOICE.' + invoice.invoiceState }}"></td>
                <td>
                    <button ng-show="state !== 'PAID'" ng-click="markPaid(invoice)" type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button ng-click="remove(invoice)" type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <pagination class="pagination-sm" total-items="invoices[state].page.totalElements" ng-model="invoices[state].page.number" items-per-page="invoices[state].page.size"
                    ng-change="setPage(state)" max-size="5"></pagination>
    </tab>
</tabset>

<button type="button" class="btn btn-default" ng-click="addNew()">
    <span class="glyphicon glyphicon-plus"></span> <span translate="ACTIONS.NEW"></span>
</button>