<h1 translate="INVOICE.INVOICES"></h1>

<div class="row">
    <h3 translate="ACTIONS.SEARCH"></h3>
    <div class="form-group">
        <div class="col-md-2">
            <input class="form-control" type="text" ng-model="searchQuery" ng-change="executeSearch()"/>
        </div>
    </div>
</div>

<tabset>
    <tab ng-repeat="state in states">
        <tab-heading>
            <span translate="{{'INVOICE.' + state}}"></span> <span class="badge">{{invoices[state].page.totalElements}}</span>
        </tab-heading>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="sortable" ng-class="{'sort-asc': isSortedAsc('identifier'), 'sort-desc': isSortedDesc('identifier')}"><a translate="INVOICE.IDENTIFIER" ng-click="loadSortedInvoices(state, 'identifier')"></a></th>
                <th class="sortable" ng-class="{'sort-asc': isSortedAsc('creationDate'), 'sort-desc': isSortedDesc('creationDate')}"><a translate="INVOICE.CREATION_DATE" ng-click="loadSortedInvoices(state, 'creationDate')"></a></th>
                <th class="sortable" ng-class="{'sort-asc': isSortedAsc('invoiceTotal'), 'sort-desc': isSortedDesc('invoiceTotal')}"><a translate="INVOICE.INVOICE_TOTAL" ng-click="loadSortedInvoices(state, 'invoiceTotal')"></a></th>
                <th class="sortable" ng-class="{'sort-asc': isSortedAsc('debitor.name'), 'sort-desc': isSortedDesc('debitor.name')}"><a translate="INVOICE.DEBITOR" ng-click="loadSortedInvoices(state, 'debitor.name')"></a></th>
                <th class="sortable" ng-class="{'sort-asc': isSortedAsc('dueDate'), 'sort-desc': isSortedDesc('dueDate')}"><a translate="INVOICE.DUE_DATE" ng-click="loadSortedInvoices(state, 'dueDate')"></a></th>
                <th translate="ACTIONS.ACTIONS"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="invoice in invoices[state] | orderBy:order:reverse">
                <td>{{invoice.identifier}}</td>
                <td>{{ invoice.creationDate | date:'dd.MM.yyyy' }}</td>
                <td>{{ invoice.invoiceTotal | currency:'€' }}</td>
                <td>{{invoice.debitor.name}}</td>
                <td>{{ invoice.dueDate | date:'dd.MM.yyyy' }}</td>
                <td>
                    <button ng-show="state !== 'PAID'" ng-click="markPaid(invoice)" type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button ng-show="state !== 'PAID'" ng-click="showEditForm(invoice)" type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button ng-click="remove(invoice)" type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <pagination class="pagination-sm" total-items="invoices[state].page.totalElements" ng-model="invoices[state].page.number" items-per-page="invoices[state].page.size"
                    ng-change="setPage(state)" max-size="5"></pagination>
    </tab>
</tabset>

<button type="button" class="btn btn-default" ng-click="addNew()">
    <span class="glyphicon glyphicon-plus"></span> <span translate="ACTIONS.NEW"></span>
</button>