<form class="form-horizontal" action="">
    <bs-text property-name="identifier" translate-code="INVOICE.IDENTIFIER" path="invoice.identifier"></bs-text>
    <bs-text property-name="invoiceTotal" translate-code="INVOICE.INVOICE_TOTAL" path="invoice.invoiceTotal"></bs-text>

    <div class="form-group">
        <label class="form-label col-sm-2" for="debitor" translate="INVOICE.DEBITOR"></label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="debitor" autocomplete="off"
                   ng-model="invoice.debitor"
                   typeahead="company as company.name for company in getCompanies($viewValue)"
                   typeahead-editable="false"
                   typeahead-min-length="1" />
        </div>
    </div>

    <div class="form-group" error-display="creationDate">
        <label class="form-label col-sm-4" for="creationDate" translate="INVOICE.CREATION_DATE"></label>
        <div class="col-sm-6">
            <div class="well well-sm" id="creationDate" ng-model="invoice.creationDate">
                <datepicker starting-day="1"></datepicker>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="form-label col-sm-4" for="dueDate" translate="INVOICE.DUE_DATE"></label>
        <div class="col-sm-6">
            <div class="well well-sm" id="dueDate" ng-model="invoice.dueDate">
                <datepicker starting-day="1"></datepicker>
            </div>
        </div>
    </div>
</form>