<form class="form-horizontal" action="">
    <bs-text property-name="identifier" translate-code="INVOICE.IDENTIFIER" path="invoice.identifier"></bs-text>
    <bs-text property-name="invoiceTotal" translate-code="INVOICE.INVOICE_TOTAL" path="invoice.invoiceTotal"></bs-text>

    <div class="form-group">
        <label class="form-label col-sm-2" for="debitor" translate="INVOICE.DEBITOR"></label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="debitor" autocomplete="off"
                   ng-model="invoice.debitor"
                   uib-typeahead="company as company.name for company in getCompanies($viewValue)"
                   typeahead-editable="false"
                   typeahead-min-length="1" />
        </div>
    </div>

    <div class="form-group" error-display="creationDate">
        <label class="form-label col-sm-3" for="creationDate" translate="INVOICE.CREATION_DATE"></label>
        <div class="input-group col-sm-6">
            <input type="text" id="creationDate" class="form-control" ng-model="invoice.creationDate"
                   uib-datepicker-popup="yyyy-MM-dd"
                   is-open="ctrl.creationDateOpened"
                   datepicker-options="dateOptions"
                   close-text="{{ 'ACTIONS.CLOSE' | translate }}"
                   current-text="{{ 'DATE.TODAY' | translate }}"
                   toggle-weeks-text="{{ 'DATE.WEEKS' | translate }}"
                   clear-text="{{ 'ACTIONS.CLEAR' | translate }}"/>
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="openDate($event, 'creationDateOpened')">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="form-label col-sm-3" for="dueDate" translate="INVOICE.DUE_DATE"></label>
        <div class="input-group col-sm-6">
            <input type="text" id="dueDate" class="form-control" ng-model="invoice.dueDate"
                   uib-datepicker-popup="yyyy-MM-dd"
                   is-open="ctrl.dueDateOpened"
                   datepicker-options="dateOptions"
                   close-text="{{ 'ACTIONS.CLOSE' | translate }}"
                   current-text="{{ 'DATE.TODAY' | translate }}"
                   toggle-weeks-text="{{ 'DATE.WEEKS' | translate }}"
                   clear-text="{{ 'ACTIONS.CLEAR' | translate }}"/>
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="openDate($event, 'dueDateOpened')">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </div>
    </div>
</form>