<div class="logo">
    <a ui-sref="app.invoices">
        <span translate="INVOICE.INVOICES"></span>
    </a>
</div>

<div class="top-nav">
    <ul class="nav-right list-unstyled pull-right">
        <li><a href="" ng-class="logout()">Logout</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="" translate="LANGUAGE"></a>
            <ul class="dropdown-menu">
                <li><a href ng-click="changeLanguage('en')">English</a></li>
                <li><a href ng-click="changeLanguage('de')">Deutsch</a></li>
            </ul>
        </li>
    </ul>
</div>