<!-- Logo -->
<div class="logo">
    <a href="#/">
        <span>trackr</span>
    </a>
</div>

<div class="top-nav">
    <ul class="nav-left list-unstyled">
        <li ui-sref-active="active"><a href ui-sref="trackr.employee" translate="PAGES.EMPLOYEE.TITLE"></a></li>
        <li ui-sref-active="active" has-authority="ROLE_SUPERVISOR"><a href ui-sref="trackr.supervisor" translate="PAGES.SUPERVISOR.TITLE"></a></li>
        <li ui-sref-active="active" has-authority="ROLE_SUPERVISOR"><a href ui-sref="trackr.administration" translate="PAGES.ADMINISTRATION.TITLE"></a></li>
    </ul>

    <ul class="nav-right list-unstyled pull-right">
        <li><a href ui-sref="trackr.employee.self">{{user.email}}</a></li>
        <li><a href="logout">Logout</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="" translate="LANGUAGE"></a>
            <ul class="dropdown-menu">
                <li><a href ng-click="changeLanguage('en')">English</a></li>
                <li><a href ng-click="changeLanguage('de')">Deutsch</a></li>
            </ul>
        </li>
    </ul>
</div>
