<section class="panel panel-default">

    <div class="panel-body">

        <h1 class="page-header">{{company.name}}
            <button has-authority="ROLE_ADMIN" type="button" class="pull-right btn btn-default btn-sm" ng-click="showEditForm()">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </h1>
        <dl class="dl-horizontal">
            <dt translate="COMPANY.COMPANY_ID"></dt>
            <dd>{{company.companyId}}</dd>
        </dl>
        <h2 translate="ADDRESS.ADDRESS"></h2>
        <dl class="dl-horizontal">
            <dt translate="ADDRESS.STREET"></dt>
            <dd>{{company.address.street}}</dd>
            <dt translate="ADDRESS.HOUSE_NUMBER"></dt>
            <dd>{{company.address.houseNumber}}</dd>
            <dt translate="ADDRESS.CITY"></dt>
            <dd>{{company.address.city}}</dd>
            <dt translate="ADDRESS.ZIPCODE"></dt>
            <dd>{{company.address.zipCode}}</dd>
            <dt translate="ADDRESS.COUNTRY"></dt>
            <dd>{{company.address.country}}</dd>
        </dl>

        <h2 translate="CONTACTPERSON.CONTACTPERSONS"></h2>
        <table class="table table-condensed">
            <tr ng-repeat="contactPerson in company.contactPersons">
                <td>{{contactPerson.salutation}}</td>
                <td>{{contactPerson.firstName}}</td>
                <td>{{contactPerson.lastName}}</td>
                <td><a href="mailto:{{contactPerson.email}}">{{contactPerson.email}}</a></td>
                <td>{{contactPerson.phone}}</td>
                <td has-authority="ROLE_SUPERVISOR">
                    <a class="btn btn-sm btn-default" href ng-click="editContactPerson(contactPerson, company)"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-sm btn-default" href ng-click="removeContactPerson(contactPerson)"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        </table>
        <button class="btn btn-sm btn-default" ng-click="createNewContactPerson(company)">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>

</section>
