<div class="row">

    <!-- Company List BEGIN -->
    <div class="col-lg-3">

        <div class="panel panel-default">
            <div class="panel-heading">
                <strong><span class="glyphicon glyphicon-th"></span> {{ 'COMPANY.COMPANIES' | translate }}</strong>

                <button type="button" has-authority="ROLE_ADMIN" class="btn btn-default btn-xs pull-right" ng-click="addNew()">
                    <span class="glyphicon glyphicon-plus"></span> {{ 'ACTIONS.NEW' | translate }}
                </button>
            </div>

            <table class="table table-bordered table-hover">
                <tbody>
                    <tr ng-repeat="company in companies" ui-sref-active="active" ui-sref="trackr.administration.companies.edit({id: company.companyId})" class="clickable">
                        <td>
                            {{company.name}}
                        </td>
                    </tr>
                </tbody>
            </table>

            <footer class="table-footer">
                <div class="row">
                    <div class="col-lg-12 text-right pagination-container">
                        <pagination class="pagination-sm" total-items="companies.page.totalElements" ng-model="companies.page.number" items-per-page="companies.page.size" on-select-page="setPage(page)" max-size="5"></pagination>
                    </div>
                </div>
            </footer>
        </div>

    </div>
    <!-- Company List END -->

    <!-- Company Details -->
    <div class="col-lg-9">
        <ui-view name="company"/>
    </div>
    <!-- Company Details END -->
</div>
