<form class="form-horizontal">
    <div class="form-group" error-display="type">
        <label class="form-label col-sm-4" for="type" translate="TRAVEL_EXPENSE.TYPE"></label>
        <div class="col-sm-6">
            <select ng-model="expense.type" id="type" ng-options="t as translateTravelExpenseType(t) for t in expenseTypes"></select>
        </div>
    </div>

    <bs-text property-name="vat" translate-code="TRAVEL_EXPENSE.VAT" path="expense.vat"></bs-text>
    <bs-text property-name="cost" translate-code="TRAVEL_EXPENSE.COST" path="expense.cost"></bs-text>

    <div class="form-group">
        <label class="form-label col-sm-3" for="fromDate" translate="TRAVEL_EXPENSE.FROM_DATE"></label>
        <div class="input-group col-sm-6">
            <input type="text" id="fromDate" class="form-control" ng-model="expense.fromDate"
                   datepicker-popup="yyyy-MM-dd"
                   is-open="ctrl.fromDateOpened"
                   datepicker-options="dateOptions"
                   close-text="{{ 'ACTIONS.CLOSE' | translate }}"
                   current-text="{{ 'DATE.TODAY' | translate }}"
                   toggle-weeks-text="{{ 'DATE.WEEKS' | translate }}"
                   clear-text="{{ 'ACTIONS.CLEAR' | translate }}"/>
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="openDate($event, 'fromDateOpened')">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="form-label col-sm-3" for="toDate" translate="TRAVEL_EXPENSE.TO_DATE"></label>
        <div class="input-group col-sm-6">
            <input type="text" id="toDate" class="form-control" ng-model="expense.toDate"
                   datepicker-popup="yyyy-MM-dd"
                   is-open="ctrl.toDateOpened"
                   datepicker-options="dateOptions"
                   close-text="{{ 'ACTIONS.CLOSE' | translate }}"
                   current-text="{{ 'DATE.TODAY' | translate }}"
                   toggle-weeks-text="{{ 'DATE.WEEKS' | translate }}"
                   clear-text="{{ 'ACTIONS.CLEAR' | translate }}"/>
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="openDate($event, 'toDateOpened')">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </div>
    </div>
</form>