<tabset>
    <tab ng-repeat="state in states">
        <tab-heading>
            <span translate="{{'TRAVEL_EXPENSE_REPORT.' + state}}"></span> <span class="badge">{{reports[state].page.totalElements}}</span>
        </tab-heading>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th translate="TRAVEL_EXPENSE_REPORT.ID"></th>
                <th translate="TRAVEL_EXPENSE_REPORT.TOTAL"></th>
                <th translate="TRAVEL_EXPENSE_REPORT.DEBITOR"></th>
                <th translate="TRAVEL_EXPENSE_REPORT.PROJECT"></th>
                <th ng-show="state !== 'PENDING'" translate="TRAVEL_EXPENSE_REPORT.SUBMISSION_DATE"></th>
                <th ng-show="state === 'APPROVED'" translate="TRAVEL_EXPENSE_REPORT.APPROVER"></th>
                <th ng-show="state === 'APPROVED'" translate="TRAVEL_EXPENSE_REPORT.APPROVAL_DATE"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="report in reports[state] track by report.id">
                <td><a ui-sref="app.trackr.employee.expenses.edit({id: report.id})">#{{report.id}}</a></td>
                <td>{{ report.total | currency:'€' }}</td>
                <td>{{ report.debitor.name }}</td>
                <td>{{ report.project.name }}</td>
                <td ng-show="state !== 'PENDING'">{{ report.submissionDate | date:'dd.MM.yyyy HH:mm:ss' }}</td>
                <td ng-show="state === 'APPROVED'">{{ report.approver.firstName + ' ' + report.approver.lastName }}</td>
                <td ng-show="state === 'APPROVED'">{{ report.approvalDate | date:'dd.MM.yyyy HH:mm:ss' }}</td>
            </tr>
            </tbody>
        </table>
        <pagination class="pagination-sm" total-items="reports[state].page.totalElements" ng-model="reports[state].page.number" items-per-page="reports[state].page.size"
                    ng-change="setPage(state)" max-size="5"></pagination>
    </tab>
</tabset>
<button ng-click="addNew()" type="button" class="btn btn-primary" translate="ACTIONS.NEW"></button>