<uib-tabset>
    <uib-tab ng-repeat="state in states">
        <tab-heading>
            <span translate="{{'TRAVEL_EXPENSE_REPORT.' + state}}"></span> <span class="badge">{{reports[state].page.totalElements}}</span>
        </tab-heading>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="sortable" ng-class="{'sort-asc': isSortedAsc('id'), 'sort-desc': isSortedDesc('id')}"><a translate="TRAVEL_EXPENSE_REPORT.ID" ng-click="loadSortedReports(state, 'id')"></a></th>
                <th translate="TRAVEL_EXPENSE_REPORT.TOTAL"></th>
                <th class="sortable" ng-class="{'sort-asc': isSortedAsc('debitor.name'), 'sort-desc': isSortedDesc('debitor.name')}"><a translate="TRAVEL_EXPENSE_REPORT.DEBITOR" ng-click="loadSortedReports(state, 'debitor.name')"></a></th>
                <th class="sortable" ng-class="{'sort-asc': isSortedAsc('project.name'), 'sort-desc': isSortedDesc('project.name')}"><a translate="TRAVEL_EXPENSE_REPORT.PROJECT" ng-click="loadSortedReports(state, 'project.name')"></a></th>
                <th ng-show="state !== 'PENDING'" class="sortable" ng-class="{'sort-asc': isSortedAsc('submissionDate'), 'sort-desc': isSortedDesc('submissionDate')}"><a translate="TRAVEL_EXPENSE_REPORT.SUBMISSION_DATE" ng-click="loadSortedReports(state, 'submissionDate')"></a></th>
                <th ng-show="state === 'APPROVED'" class="sortable" ng-class="{'sort-asc': isSortedAsc('approver.lastName'), 'sort-desc': isSortedDesc('approver.lastName')}"><a translate="TRAVEL_EXPENSE_REPORT.APPROVER" ng-click="loadSortedReports(state, 'approver.lastName')"></a></th>
                <th ng-show="state === 'APPROVED'" class="sortable" ng-class="{'sort-asc': isSortedAsc('approvalDate'), 'sort-desc': isSortedDesc('approvalDate')}"><a translate="TRAVEL_EXPENSE_REPORT.APPROVAL_DATE" ng-click="loadSortedReports(state, 'approvalDate')"></a></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="report in reports[state] track by report.id">
                <td><a ui-sref="app.trackr.employee.expenses.edit({id: report.id})">#{{report.id}}</a></td>
                <td>{{ report.total | currency:'€' }}</td>
                <td>{{ report.debitor.name }}</td>
                <td>{{ report.project.name }}</td>
                <td ng-show="state !== 'PENDING'">{{ report.submissionDate | date:'dd.MM.yyyy HH:mm:ss' }}</td>
                <td ng-show="state === 'APPROVED'">{{ report.approver.firstName + ' ' + report.approver.lastName }}</td>
                <td ng-show="state === 'APPROVED'">{{ report.approvalDate | date:'dd.MM.yyyy HH:mm:ss' }}</td>
            </tr>
            </tbody>
        </table>
        <uib-pagination class="pagination-sm" total-items="reports[state].page.totalElements" ng-model="reports[state].page.number" items-per-page="reports[state].page.size"
                    ng-change="setPage(state)" max-size="5"></uib-pagination>
    </uib-tab>
</uib-tabset>
<button ng-click="addNew()" type="button" class="btn btn-primary" translate="ACTIONS.NEW"></button>